---
import Banner from "@/components/landing/Banner.astro";
import Layout from "@/layouts/Layout.astro";

const companyInfo = {
  title: "Sobre Nosotros",
  description: "Somos una empresa comprometida con la excelencia y la satisfacción de nuestros clientes.",
  img: "/hero.jpg",
  sections: [
  {
      title: "¿Quiénes Somos?",
      content: `
        SEYMEC SERVICIOS E INGENIERÍA MECATRÓNICA S.A.S. brinda servicios integrales de gestión de proyectos, ingeniería, suministros,
        construcción y mantenimiento para proyectos en plantas industriales. Ofrecemos una atención personalizada que busca resolver
        sus necesidades con toda la experiencia humana y formativa de nuestros miembros. Nuestros grupos de profesionales están comprometidos
        con el desarrollo de soluciones oportunas, cumpliendo con los estándares más altos de seguridad, calidad y respetando el medio ambiente.
      `
    },
    {
      title: "Misión",
      content: `
        Ser una empresa líder en la prestación de servicios de ingeniería, alcanzando los más altos estándares de calidad y eficiencia,
        teniendo en cuenta el cumplimiento de los requisitos de nuestros clientes. Logrando ser una empresa sostenible y confiable
        a nivel nacional con participación en el mercado internacional.
      `
    },
  
    {
      title: "Visión",
      content: `
        En el año 2025 SEYMEC SERVICIOS E INGENIERÍA MECATRÓNICA S.A.S aspira a ser líder en el sector de servicios de ingeniería,
        en el mercado público y privado, capaz de lograr la satisfacción total de nuestros clientes, anteponiendo los valores de
        nuestras acciones, compromiso con el cliente en armonía con los principios del desarrollo sostenible.
      `
    }
  ]
};
---

<Layout title="About">
  <Banner title={companyInfo.title} description={companyInfo.description} img={companyInfo.img} />

  <div class="max-w-4xl mx-auto p-6 space-y-8">
    {companyInfo.sections.map((section) => (
      <section id={section.title.replace(/\s+/g, '-').toLowerCase()}>
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">{section.title}</h2>
        <p class="text-gray-600 dark:text-gray-300">{section.content}</p>
      </section>
    ))}
  </div>
</Layout>
